*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 70px;
    height: 75px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-size: 90px;
    color: white;
    line-height: 110px;
    float: left;
    -webkit-text-stroke: 2px rgba(116, 93, 4, 0.856);
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
    padding: 20px;

}

.right-col p{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-right: 10px;

}

#icon{
    width: 80px;
    cursor: pointer;
}
